body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3; /* Greyish rock background */
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.widget {
    background-color: #808080; /* Greyish rock background */
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22%;
    transition: transform 0.3s ease-in-out;
}

.widget:hover {
    transform: scale(1.05);
}

h2 {
    color: #2f4f4f; /* Dark slate grey */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #696969; /* Dim grey button color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #505050; /* Darker dim grey on hover */
}

#to-do-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #a9a9a9;
    transition: background-color 0.3s ease-in-out;
}

#to-do-list li:hover {
    background-color: #dcdcdc; /* Gainsboro background on hover */
}

.task-time {
    font-size: 0.8em;
    color: #2f4f4f; /* Dark slate grey */
    margin-left: 10px;
}

.delete-task-button {
    display: none;
    background-color: #b22222; /* Firebrick red */
}

#to-do-list li:hover .delete-task-button {
    display: inline;
}

#calc-buttons-scientific {
    display: none;
}

.calc-buttons-basic,
.calc-buttons-scientific {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calc-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #696969; /* Dim grey button color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.calc-button:hover {
    background-color: #505050; /* Darker dim grey on hover */
}
